<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to the Quiz app</h1>
    <p class="col-md-8 fs-4">This Quiz Will contains total 9 questions.Each Question holds 10 points</p>
    <h4><b>Rules:</b></h4>
    <ol>
        <li>Correct Question will give you 10 points </li>
        <li>Incorrect Question will give you -10 points </li>
        <li>You Will have 10 Sec to Answer each question</li>
        <li>Refreshing the page will reset the Quiz</li>
    </ol>
    <h1 style="font-family: cursive;text-align: center;">All the best!!</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter Your name </label>
        <input type="text" #name class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" (click)="startQuiz()" routerLink="/question">Start the Quiz -></button>
</div>